@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/stars.css" rel="stylesheet" />
<div class="star-1"></div>
<div class="star-2"></div>
<div class="star-3"></div>
<div class="star-4"></div>
<div class="star-5"></div>
<div class="star-6"></div>
<div class="star-7"></div>
<div class="star-8"></div>
<div class="star-9"></div>
<div class="star-10"></div>
<div class="star-11"></div>
<div class="star-12"></div>

<div class="text-center mt-5 pt-5 text-light h1">
    <h1>
        <span class="typewrite" data-period="2000"
              data-type='[ "Create Vendors.", "Create Products.", "Manage your company."]'>
            <span class="wrap"></span>
        </span>
    </h1>
</div>
